@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-beige: #D8C99B;
  --color-light-brown: #D8973C;
  --color-dark-brown: #BD632F;
  --color-teal: #064658;
  --color-blue: #1E96FC;

  --font-abril-fatface: "Abril Fatface", Georgia, serif;
  --font-newsreader: "Newsreader", Georgia, serif;
  --font-inter: "Inter", Arial, sans-serif;

  --text-*: initial;
  --text-12px: 0.75rem;
  --text-14px: 0.875rem;
  --text-16px: 1rem;
  --text-18px: 1.125rem;
  --text-20px: 1.25rem;
  --text-24px: 1.5rem;
  --text-30px: 1.875rem;
  --text-32px: 2rem;
  --text-36px: 2.25rem;
  --text-44px: 2.75rem;

  --breakpoint-*: initial;
  --breakpoint-phone: 425px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 1100px;
}

@layer components {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply text-black;
    font-family: var(--font-newsreader);
  }

  a {
    @apply text-teal ease-in-out duration-300 cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-[120%]
  }

  /* mobile menu styles */

  .mobile-menu-heading {
    font-size: 0.875rem;
  }

  .mobile-menu-subheading {
    font-size: 0.750rem;
  }

  .mobile-menu-spacing {
    display: grid;
    gap: 18px;
  }

  .mobile-menu-facebook-icon>a>img {
    width: 28px;
    height: 28px;
  }

  .mobile-menu-facebook-icon {
    margin-top: -2px;
  }

  @media (min-height: 700px) {
    .mobile-menu-heading {
      font-size: 1.125rem;
    }

    .mobile-menu-subheading {
      font-size: 0.875rem;
    }

    .mobile-menu-spacing {
      display: grid;
      gap: 20px;
    }

    .mobile-menu-facebook-icon {
      margin-top: -6px;
    }

    .mobile-menu-facebook-icon>a>img {
      width: 40px;
      height: 40px;
    }
  }
}

/* spinner styles */

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #064658;
  animation: spin 1s linear infinite;
}

.spinner::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Dropdown menu animation */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

/* Swiper pagination bullet stroke */
.swiper-pagination-bullet {
  border: 1px solid #000000 !important;
}

.swiper-pagination-bullet:hover {
  opacity: 0.8 !important;
  @apply cursor-pointer ease-in-out duration-300;
}